[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule ".emacs.d/egg-snapshot"]
	path = .emacs.d/egg-snapshot
	url = git://github.com/bogolisk/egg.git
[submodule ".emacs.d/gist-snapshot"]
	path = .emacs.d/gist-snapshot
	url = git://github.com/defunkt/gist.el.git
[submodule "clairvy-Scamacs"]
	path = clairvy-Scamacs
	url = git@github.com:clairvy/Scamacs.git
