[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".emacs.d/egg-snapshot"]
	path = .emacs.d/egg-snapshot
	url = https://github.com/bogolisk/egg.git
[submodule ".emacs.d/gist-snapshot"]
	path = .emacs.d/gist-snapshot
	url = https://github.com/defunkt/gist.el.git
[submodule ".emacs.d/clairvy-Scamacs"]
	path = .emacs.d/clairvy-Scamacs
	url = https://github.com/clairvy/Scamacs.git
[submodule ".emacs.d/emacs-ditz"]
	path = .emacs.d/emacs-ditz
	url = https://github.com/hron/emacs-ditz.git
[submodule ".emacs.d/ensime"]
	path = .emacs.d/ensime
	url = https://github.com/aemoncannon/ensime.git
[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".zfunctions/git-flow-completion"]
	path = .zfunctions/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule ".vim/bundle/vim-ref"]
	path = .vim/bundle/vim-ref
	url = https://github.com/thinca/vim-ref.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule ".emacs.d/rubikitch-magit"]
	path = .emacs.d/rubikitch-magit
	url = git://gitorious.org/~rubikitch/magit/rubikitch-magit.git
[submodule ".vim/bundle/git-vim"]
	path = .vim/bundle/git-vim
	url = https://github.com/motemen/git-vim.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = https://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/vim-symfony"]
	path = .vim/bundle/vim-symfony
	url = https://github.com/soh335/vim-symfony.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".emacs.d/coffee-mode"]
	path = .emacs.d/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".zfunctions/z"]
	path = .zfunctions/z
	url = https://github.com/rupa/z.git
[submodule ".emacs.d/gh"]
	path = .emacs.d/gh
	url = https://github.com/sigma/gh.el.git
[submodule ".emacs.d/pcache"]
	path = .emacs.d/pcache
	url = https://github.com/sigma/pcache.git
[submodule ".emacs.d/logito"]
	path = .emacs.d/logito
	url = https://github.com/sigma/logito.git
[submodule ".emacs.d/tabulated-list"]
	path = .emacs.d/tabulated-list
	url = https://github.com/sigma/tabulated-list.el.git
[submodule ".emacs.d/popup"]
	path = .emacs.d/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/js2-mode"]
	path = .emacs.d/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule ".emacs.d/scss-mode"]
	path = .emacs.d/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
