[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule ".emacs.d/egg-snapshot"]
	path = .emacs.d/egg-snapshot
	url = git://github.com/bogolisk/egg.git
[submodule ".emacs.d/gist-snapshot"]
	path = .emacs.d/gist-snapshot
	url = git://github.com/defunkt/gist.el.git
[submodule ".emacs.d/clairvy-Scamacs"]
	path = .emacs.d/clairvy-Scamacs
	url = git@github.com:clairvy/Scamacs.git
[submodule ".emacs.d/emacs-ditz"]
	path = .emacs.d/emacs-ditz
	url = http://github.com/hron/emacs-ditz.git
[submodule ".emacs.d/ensime"]
	path = .emacs.d/ensime
	url = http://github.com/aemoncannon/ensime.git
[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/auto-complete
	url = http://github.com/m2ym/auto-complete.git
