<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clover" />
  <package id="GoogleChrome" />
  <!--
  <package id="KaoriyaVim" source="https://github.com/cd01/Chocolatey-KaoriyaVim/raw/master/KaoriyaVim.7.4.nupkg" />
  -->
  <package id="virtualbox" />
  <!-- パッケージ作成環境 -->
  <package id="git" />

  <package id="docker" />
  <!--
  <package id="pik" />
  -->

  <!--
  <package id="VisualStudio2012WDX" />
  -->

  <package id="Atom" />
  <package id="ConEmu" />
  <package id="Devbox-RapidEE" />
</packages>
